/* css/layouts/container.css */
@layer layouts {
  .container {
    margin-inline: auto;
    max-width: var(--container-max-width, var(--container-max-width-mobile));
    padding-inline: var(--gutter);
    width: 100%;

    @media (--tablet)      { --container-max-width: var(--container-max-width-tablet); }
    @media (--tablet-wide) { --container-max-width: var(--container-max-width-tablet-wide); }
    @media (--laptop)      { --container-max-width: var(--container-max-width-laptop); }
    @media (--desktop)     { --container-max-width: var(--container-max-width-desktop); }
  }
}
