/* css/base/figure.css */
@layer base {
  figure {
    display: flex;
    flex-direction: column;
    gap: var(--figure-gap);
    margin-block: var(--figure-margin-block);

    picture {
      display: block;
    }

    img {
      height: auto;
      width: 100%;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      font-size: var(--figure-figcaption-font-size);
      gap: var(--figure-figcaption-gap);
    }

    p {
      font-size: var(--figure-figcaption-font-size);
      margin-block: 0;
    }

    picture + figcaption {
      align-items: baseline;
      justify-content: space-between;
    }

    @media (min-width: 48rem) {
      figcaption {
        flex-direction: row;
      }
      .credit {
        margin-inline-start: auto;
      }
    }
  }
}
