/* css/base/form-range.css */
@layer base {
  .range {
    padding-block-end: var(--size-32);
    position: relative;
  }

  [type="range"] {
    appearance: none;
    background: transparent;
    border: 0;
    color: var(--range-thumb-color);
    cursor: pointer;
    height: var(--range-thumb-size);
    margin: 0;
    outline-offset: var(--focus-outline-offset, 2px);
    padding: 0;
    width: 100%;
  }

  [type="range"]:focus-visible {
    outline: var(--focus);
  }

  /* WebKit */
  [type="range"]::-webkit-slider-runnable-track {
    background: var(--range-track-color);
    border-radius: var(--range-track-height);
    height: var(--range-track-height);
  }

  [type="range"]::-webkit-slider-thumb {
    appearance: none;
    background-color: currentcolor;
    border: var(--range-thumb-border-width) solid var(--range-thumb-color-border);
    border-radius: 50%;
    height: var(--range-thumb-size);
    margin-block-start: calc((var(--range-track-height) - var(--range-thumb-size)) * 0.5);
    width: var(--range-thumb-size);
  }

  /* Firefox */
  [type="range"]::-moz-range-track {
    background: var(--range-color-track);
    border-radius: var(--range-track-height);
    height: var(--range-track-height);
  }

  [type="range"]::-moz-range-thumb {
    background: currentcolor;
    border: var(--size-4) solid var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    height: var(--range-thumb-size);
    width: var(--range-thumb-size);
  }

  [type="range"]::-moz-range-progress {
    background: currentcolor;
    border-radius: var(--range-track-height);
    height: var(--range-track-height);
  }

  .range-value {
    background-color: var(--form-background);
    border-radius: var(--form-border-radius, var(--radius-xs));
    font-size: var(--font-size-xs, 0.875rem);
    left: 0;
    padding: var(--size-4) var(--size-8);
    position: absolute;
    translate: 0 1.4rem;
  }

  @supports (position-anchor: initial) {
    [data-range-output="anchor"] ::-webkit-slider-thumb {
      anchor-name: --thumb;
    }

    [data-range-output="anchor"] ::-moz-range-thumb {
      anchor-name: --thumb;
    }

    [data-range-output="anchor"] .range-value {
      position-anchor: --thumb;
      position-area: bottom;
      translate: 0 0;
    }
  }
}
