/* css/base/form-select.css */
/* Largely inspired by https://knacss.com/ */
@layer base {
  select {
    appearance: none;
    background-color: var(--select-color-bg);
    background-image: var(--select-icon);
    background-position: right var(--select-icon-size) center;
    background-repeat: no-repeat;
    background-size: var(--select-icon-size);
    border: 0;
    border-radius: var(--select-border-radius);
    box-shadow: inset 0 0 0 var(--select-border-width) var(--select-color-border);
    color: var(--select-color-text);
    display: block;
    font: inherit;
    line-height: var(--line-height-normal, 1.5);
    outline-color: transparent;
    outline-offset: var(--focus-outline-offset, 2px);
    outline-style: var(--focus-outline-style);
    outline-width: var(--focus-outline-width);
    padding: var(--select-padding);
    padding-inline-end: var(--select-padding-end);
    user-select: none;
    width: 100%;

    &:not(:disabled) {
      cursor: pointer;
    }
    
    &:disabled {
      opacity: var( --opacity-disabled);
    }

    &:focus-visible {
      outline: var(--focus);
    }

    &[multiple] {
      background-image: none;
      cursor: default;
      padding-right: var(--size-16, 1rem);
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--form-transition);
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(:disabled, :read-only):hover {
        box-shadow: inset 0 0 0 var(--select-border-width) var(--select-color-border-hover);
      }
    }
  }

  :where(optgroup) {
    color: var(--select-color-optgroup);
    font-weight: var(--font-weight-bold, 700);
  }
}
