/* css/base/form-checkbox.css */
/* Largely inspired by https://knacss.com/ */
@layer base {
  [type='checkbox']:not([role='switch']) {
    align-items: center;
    appearance: none;
    background-color: var(--checkbox-color-bg);
    border: 0;
    border-radius: var(--checkbox-border-radius);
    box-shadow: inset 0 0 0 var(--checkbox-border-width) var(--checkbox-color-border);
    cursor: pointer;
    display: inline-grid;
    flex: 0 0 auto;
    font: inherit;
    height: var(--checkable-size, 1.25rem);
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline-offset: var(--focus-outline-offset, 2px);
    position: relative;
    transition: var(--form-transition);
    user-select: none;
    width: var(--checkable-size, 1.25rem);

    &:is(:checked, :indeterminate) {
      background-color: var(--checkbox-color-bg-checked);
      box-shadow: inset 0 0 0 var(--checkbox-border-width) var(--checkbox-color-border-checked);
    }

    &:hover {
      box-shadow: inset 0 0 0 var(--checkbox-border-width) var(--checkbox-color-border-hover);
    }

    &:focus-visible {
      outline: var(--focus);
    }

    &:checked::after {
      background-color: var(--form-color-accent, #000000);
      content: '';
      height: 100%;
      mask: var(--checkbox-mask-checked);
      position: absolute;
      scale: var(--checkbox-scale-checked, 0.7);
      width: 100%;
    }

    &:indeterminate::after {
      background-color: currentcolor;
      content: '';
      height: 100%;
      mask: var(--checkbox-mask-indeterminate);
      position: absolute;
      width: 100%;
    }
  }

  [type='checkbox'] + label {
    --label-padding: var(--checkbox-label-padding);
  }
}
