/* css/base/link.css */
@layer base {
  a {
    color: var(--color-link);
    text-underline-offset: var(--text-decoration-offset);
    text-decoration-color: var(--link-color-text-decoration);
    text-decoration-line: var(--link-text-decoration-line);
    text-decoration-thickness: var(--text-decoration-thickness);

    &:focus-visible {
      outline: var(--focus-outline-width) var(--focus-outline-style) var(--focus-color-outline);
      outline-offset: var(--focus-outline-offset);
    }

    &[target="_blank"]::after {
      background-color: currentColor;
      content: '';
      display: inline-block;
      height: var(--icon-size);
      margin-inline-start: var(--spacing-2xs);
      mask: var(--icon-external-link) center / var(--icon-size) no-repeat;
      vertical-align: baseline;
      width: var(--icon-size);
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--link-transition);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--color-link-hover);
        text-decoration-color: var(--link-color-text-decoration-hover);
      }
    }
  }
}
